<h1>Add a Cookie</h1>
<input type="text" id="category" placeholder="Category" />
<input type="text" id="text" placeholder="Fortune" />
<input type="text" id="img" placeholder="Image URL" />

<button class="btn btn-primary" id="addCookie">Add Cookie</button>