<input type="text" id="username" placeholder="Username" />
<input type="password" id="password" placeholder="Password" />
<button class="btn btn-primary" id="logIn">Log In</button>
<button class="btn btn-primary" id="register">Register</button>